<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>About</h1>

<img src="https://puu.sh/sRfVZ/f92ec1ec3b.png" style="width: auto;height: auto"></img> <br/>
<img src="https://puu.sh/sRfW0/c9e83ee2f3.png"> </img> <br/>

</body>
</html>
