<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <a href="/about">About</a> <br/>
    <a href="/food/all">Food</a>  <br/>
    <a href="/account/all">Account</a> <br/>
    <a href="/ingredient/all">Ingredient</a> <br/>
    <a href="/party/all">Party</a> <br/>

  </body>
</html>
